:root {
  --rojo: #ff5a5f;
  --negro: #252525;
  --amarillo: #fcd581;
}
.ErrorPage-main-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 113px);
}
.ErrorPage-404-numero {
  font-size: 15rem;
  font-weight: 900;
  color: var(--rojo);
}
.ErrorPage-404-texto {
  font-size: 2rem;
}
