#boton-principal
{
    color:  white;
    background-color: #ff5a5f ;
}
.row{
    justify-content:space-between;
    margin: 5rem;
    height: auto;
    margin-left: 25%;
    margin-right: 20%;
}

.icono
{
    size: 10rem;
}