/* Contenedor principal */
Container .product-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  }
  
  /* Foto y detalles */
  .product-details {
  display: flex;
  width: 90%;
  margin-bottom: 40px;
  margin-right: 20%;
  }
  
  .product-image {
  flex: 1;
  padding: 10px;
  }
  
  .product-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  }
  
  .product-info {
  flex: 1;
  padding: 10px;
  }
  
  .product-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
  }
  
  .product-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .product-info p {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  .product-actions {
  display: flex;
  align-items: center;
  }
  
  .product-actions input {
  margin-right: 10px;
  width: 38px;
  padding: 4px 0 2px 12px;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: 550;
  background-color: #FCD581;
  }
  
  .product-actions button {
  padding: 5px 30px;
  border: none;
  color: white;
  background-color: #FF5A5F;
  border-radius: 10px;
  }
  
  /* Div con los pasos para realizar el pedido */

  .sec-title {
    margin-left: 15%;
  }

  .how-to-order {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: space-evenly;
  margin-left: 10%;
  }
  
  .step-card {
  flex: 1;
  max-width: 230px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px 2px #ccc;
  margin: 5px;
  }
  
  .step-card img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  border-radius: 10px;
  }
  
  .step-card h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  }
  
  .step-card p {
  font-size: 14px;
  }
  
  /* Estilos para el tercer div con productos relacionados */
  .related-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 20px 0 50px 10%;
  }
  
  .related-product-card {
  flex: 1;
  max-width: 230px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 5px #ccc;
  margin: 5px;
  transition: 0.3s;
  }

  .related-product-card:hover {
    scale: 1.05;
    box-shadow: 0 0 25px 3px #ccc;
  }
  
  .related-product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  }
  
  .related-product-card h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  }
  
  .related-product-card p {
  font-size: 14px;
  }

/* --- Responsive para mobile --- */

@media screen and (max-width: 768px) {

  .product-details {
    width: 100%;
    flex-direction: column;
  }

  .how-to-order {
    width: 100%;
    flex-direction: column;
    margin: 0;
    flex-wrap: nowrap;
  }

  .how-to-order img {
    max-height: 220px;
  }

  .step-card {
    max-width: 60%;
    margin: 10px auto;
  }

  .related-products {
    flex-direction: column;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
  }

  .related-products img {
    max-height: 250px;
  }

  .related-product-card {
    max-width: 60%;
    margin: 10px auto;
  }

  .sec-title{
    text-align: center;
    margin: 50px 0 20px 0;
  }

}