* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar a:hover {
  color: #ff6b6b;
}

.logo-navbar {
  width: 90px;
}

/* ESTILOS FOOTER */

.caja-footer {
  min-height: 434px;
  background-color: #fcd581;
  padding: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-elementos {
  margin-top: 100px;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: start;
}

h4 {
  margin-bottom: 20px;
  color: #ff6b6b;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: #ff6b6b;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.caja-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}




/* codigo btn up */



/* gotop */
.go-top-container {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  z-index: -1;
  
}

.go-top-buttom {
  width: 0rem;
  height: 0rem;
  background-color: #ff6b6b;
  border-radius: 50%;
  cursor: pointer;
  top:25%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.2s;
  
}
.go-top-buttom i {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-buttom {
  animation: popup 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  z-index: 11;
}
.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    width: 3rem;
    height: 3rem;
  }
}
