* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}

.navbar a:hover {
  color: #ff6b6b;
}

.logo-navbar {
  width: 90px;
}

.caja-navbar{
  font-size: 24px;
}





/* ESTILOS FOOTER */

.caja-footer {
  /* margin-top: 5rem; */
  min-height: 434px;
  background-color: #fcd581;
  padding: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 20px;
}

.footer-elementos {
  margin-top: 100px;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: start;
}

.h4-footer {
  margin-bottom: 20px;
  color: #ff6b6b;
}

.hipervinculo-footer {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  
  color: #ff6b6b;
}

.li-footer {
  list-style: none;
  margin-bottom: 10px;
}

.caja-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
